/* Change pagination dot color */
.swiper-pagination-bullet {
  background-color: #2ed688 !important;
}

/* Active pagination dot color */
.swiper-pagination-bullet-active {
  background-color: #3BB77E !important;
}

/* Change navigation arrow color */
.swiper-button-next,
.swiper-button-prev {
  color: #c97b15;
}



/* Hide scrollbar for categories section */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}