@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


*{
  scroll-behavior: smooth;
}

@theme {
    --font-quicksand: "Quicksand", sans-serif;
    --font-lato: "Lato", sans-serif;
    --font-poppins: "Poppins", sans-serif;

  
  /* ✅ Custom Colors */
  --color-primary: #3BB77E;
  --color-secondary: #253D4E;
  --color-accent: #7E7E7E;
  --color-lightGreen:#BCE3C9;
  --color-lightGray:#B6B6B6;
  --color-lightCream:#F6F0D7;
  /* ✅ Custom Spacing / Radius */
  --radius-main: 1rem;
  --section-padding: 4rem;
}


@layer utilities {
  .font-heading {
    font-family: var(--font-quicksand);
    font-weight: 700;
    font-style: bold;
    color: var(--color-secondary);
  }
  
  .font-heading-1_0 {
    font-family: var(--font-quicksand);
    font-weight: 700;
    font-style: bold;
  }
  .action-button {
    width: 18px;
    color:var(--color-secondary );
  }
 .action-button-text {
  font-family: var(--font-lato);
  color: var(--color-accent);
}
}

